<h1>Search</h1>
<form action="/search" method = "post">
  <Input type = "text" name = "search"/>
  <select name = "options">
    <option value ="name">Name</option>
    <option value ="description">Description</option>
    <option value="price">Price</option>
  </select>
  <Input type ="submit"/>

</form>
